<%- include("../partials/header")%>
    <%- include("../partials/navbar")%>




        <div class="page-wrapper bg-gra-01 p-t-45 p-b-50" id="log">
            <div class="wrapper wrapper--w790">
                <div class="card card-5">
                    <div class="card-heading">
                        <h2 class="title">Login</h2>
                    </div>
                    <div class="card-body">
                        <form class="validated-form" action="/login" method="POST" novalidate>
                            <%- include("../partials/flash")%>

                                <div class="form-row m-b-55">
                                    <div class="name">Name</div>
                                    <div class="value">
                                        <div class="row row-refine">

                                            <div class="col-9">
                                                <div class="input-group-desc">
                                                    <input class="input--style-5" type="text" name="username">
                                                    <label class="label--desc">Name</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-row m-b-55">
                                    <div class="name">Password</div>
                                    <div class="value">
                                        <div class="row row-refine">

                                            <div class="col-9">
                                                <div class="input-group-desc">
                                                    <input class="input--style-5" type="password" name="password">
                                                    <label class="label--desc">Password</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div>
                                    <button class="btn1 btn--pill btn--blue" type="submit">Login</button>
                                </div>
                                <br>
                                <br>
                                <a href="/register">SignUp?</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>


        <%- include("../partials/footer")%>