<%- include("../partials/header")%>
    <%- include("../partials/navbar")%>




        <div class="page-wrapper bg-gra-01 p-t-45 p-b-50">
            <div class="wrapper wrapper--w790">
                <div class="card card-5">
                    <div class="card-heading">
                        <h2 class="title">Registration </h2>
                    </div>
                    <div class="card-body">
                        <form class="validated-form" action="/register" method="POST" novalidate>
                            <%- include("../partials/flash")%>
                                <div class="form-row m-b-55">
                                    <div class="name">Name</div>
                                    <div class="value">
                                        <div class="row row-space">
                                            <div class="col-2">
                                                <div class="input-group-desc">
                                                    <input class="input--style-5" type="text" name="first_name" required>
                                                    <label class="label--desc">first name</label>

                                                </div>


                                            </div>
                                            <div class="col-2">
                                                <div class="input-group-desc">
                                                    <input class="input--style-5" type="text" name="last_name" required>
                                                    <label class="label--desc">last name</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-row">
                                    <div class="name">Email</div>
                                    <div class="value">
                                        <div class="input-group">
                                            <input class="input--style-5" type="email" name="email" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row m-b-55">
                                    <div class="name">Phone</div>
                                    <div class="value">
                                        <div class="row row-refine">

                                            <div class="col-9">
                                                <div class="input-group-desc">
                                                    <input class="input--style-5" type="tel" name="phone" required>
                                                    <label class="label--desc">Phone Number</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-row m-b-55">
                                    <div class="name">Password</div>
                                    <div class="value">
                                        <div class="row row-refine">

                                            <div class="col-9">
                                                <div class="input-group-desc">
                                                    <input class="input--style-5" type="password" name="password" required>
                                                    <label class="label--desc">Password</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-row p-t-20">
                                    <label class="label label--block">Register As</label>
                                    <div class="p-t-15">
                                        <label class="radio-container m-r-55">Customer
                                    <input type="radio"  name="type" value="customer">
                                    <span class="checkmark"></span>
                                </label>
                                        <label class="radio-container">Retailer
                                    <input type="radio" name="type" value="retailer">
                                    <span class="checkmark"></span>
                                </label>
                                    </div>
                                </div>
                                <div>
                                    <button class="btn1 btn--radius-2 btn--red" type="submit">Register</button>
                                </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>


        <%- include("../partials/footer")%>