<%- include("../partials/header")%>
    <%- include("../partials/navbar")%>




        <div class="page-wrapper p-t-45 p-b-50">
            <div class="wrapper wrapper--w790">
                <div class="card card-5">
                    <div class="card-heading">
                        <h2 class="title">Registration </h2>
                    </div>
                    <div class="card-body">
                        <form class="validated-form" action="/register" method="POST" novalidate>
                            <%- include("../partials/flash")%>
                                <div class="form-row m-b-55">
                                    <div class="name">Name</div>
                                    <div class="value">
                                        <div class="row row-space">
                                            <div class="col-2">
                                                <div class="input-group-desc">
                                                    <input class="input--style-5 form-control" type="text" name="first_name" required>
                                                    <div class="invalid-feedback">
                                                        Please Provide First Name.
                                                    </div>

                                                </div>




                                            </div>
                                            <div class="col-2">
                                                <div class="input-group-desc">
                                                    <input class="input--style-5 form-control" type="text" name="last_name" required>
                                                    <div class="invalid-feedback">
                                                        Please Provide Last Name.
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div class="form-row m-b-55">
                                    <div class="name">User Name</div>
                                    <div class="value">
                                        <div class="row row-refine">

                                            <div class="col-9">
                                                <div class="input-group-desc">
                                                    <input class="input--style-5 form-control" type="text" pattern="^[a-zA-Z][a-zA-Z0-9_]*$" name="username" id="username" required>

                                                    <div class="invalid-feedback">
                                                        Must Start With Aphabets and No use of symbol expect underscore
                                                    </div>


                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div class="form-row m-b-55">
                                    <div class="name">Email</div>
                                    <div class="value">
                                        <div class="row row-refine">

                                            <div class="col-9">
                                                <div class="input-group-desc">
                                                    <input class="input--style-5 form-control" type="text" name="email" required>
                                                    <div class="invalid-feedback">
                                                        Please Provide Email.
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-row m-b-55">
                                    <div class="name">Phone</div>
                                    <div class="value">
                                        <div class="row row-refine">

                                            <div class="col-9">
                                                <div class="input-group-desc">
                                                    <input class="input--style-5 form-control" pattern="[6789][0-9]{9}" type="text" name="phone" required>
                                                    <div class="invalid-feedback">
                                                        Please Provide Phone Number.
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-row m-b-55">
                                    <div class="name">Password</div>
                                    <div class="value">
                                        <div class="row row-refine">

                                            <div class="col-9">
                                                <div class="input-group-desc">
                                                    <input class="input--style-5 form-control" type="password" name="password" pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,20}$" required>
                                                    <div class="invalid-feedback">
                                                        Password must be at least 8 characters, no more than 20 characters, and must include at least one upper case letter, one lower case letter, and one numeric digit.
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-row p-t-20">
                                    <label class="label label--block">Register As</label>
                                    <div class="p-t-15">
                                        <label class="radio-container m-r-55">Customer
                                    <input type="radio" class="form-control"  name="type" value="customer">
                                    <span class="checkmark"></span>
                                </label>
                                        <label class="radio-container">Retailer
                                    <input type="radio" class="form-control" name="type" value="retailer">
                                    <span class="checkmark"></span>
                                </label>
                                    </div>
                                </div>
                                <div>
                                    <button class="btn1 btn--radius-2 btn--red" type="submit">Register</button>
                                </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>


        <%- include("../partials/footer")%>